.App {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
img {
  border-radius: 50%;
  height: 100px;
}
label {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: red;
  padding: 10px;
  width: 20%;
  color: white;
  border-radius: 10px;
  margin-left: 40%;
}
label input {
  display: none;
}
.form {
  display: flex;
  flex-direction: column;
}
.form input {
  margin-top: 10px;
  width: 32%;
  height: 2rem;
  margin-left: 34%;
  margin-bottom: 2px;
}
.button-div {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.button-div button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
  border: none;
  background-color: red;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
